:root {
  --black: #000000;
  --gray: #bdbdbd;
  --button-gray: #afafaf;
  --purple: #4b51ef;
  --light-blue: #f3f3f3;
  --white: #fffffe;
  --green: #52cf4f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
